<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>loged ejs</title>
  </head>
  <body>
    <div>
      <h2>Hola usuario: <%= user.firstName %></h2>
      <img src=<%= user.avatar %> alt="">
    </div>
    <div>
      <h3>para  ver los productos,crea tu carrito!</h3>
      <a href="/api/cart">Crear carrito</a> 
    </div>
    <div>
      <h5>deslogearse</h5>
      <a href="/logout"></a>
  </div>

  </body>
</html>
