<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signed ejs</title>
  </head>
  <body>
   
    <section>
      <h2>Tu cuenta ha sido creada correctamente</h2>
      <button>
        <a href="/login">logeate</a>
      </button>
    </section>
    
  </body>
</html>
