<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="POST">

        <label for="email">email:</label>
        <input type="email" name="email" >
        <label for="password">contraseña:</label>
        <input type="password" name="password" >
        <label for="fistName">nombre:</label>
        <input type="text" name="firstName" >
        <label for="lastName">apellido:</label>
        <input type="text" name="lastName" >
        <label for="adress">direccion:</label>
        <input type="text" name="adress" >
        <label for="age">edad:</label>
        <input type="number" name="age" >
        <label for="phone">telefono:</label>
        <input type="number" name="phone">
        <label for="avatar">url del avatar:</label>
        <input type="text" name="avatar" >
        <button type="submit">registrarme</button>
    </form>
    <button><a href="/login">iniciar sesion</a></button>
</body>
</html>